<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your orders</title>
</head>
<body>

    <table style="width:80%" border="1">
        <tr>
            <th>No</th>
            <th>City</th>
            <th>State</th>
            <th>Street</th>
            <th>Zip</th>
            <th>ccNumber</th>
            <th>ccExpiration</th>
            <th>ccCVV</th>
            <th>PlacedAt</th>
        </tr>
        <div th:each="order, iStat : ${orders}">
            <tr>
                <td th:text="${iStat.index + 1}"></td>
                <td th:text="${order.city}"></td>
                <td th:text="${order.state}"></td>
                <td th:text="${order.street}"></td>
                <td th:text="${order.zip}"></td>
                <td th:text="${order.ccNumber}"></td>
                <td th:text="${order.ccExpiration}"></td>
                <td th:text="${order.ccCVV}"></td>
                <td th:text="${order.placedAt}"></td>
            </tr>
        </div>
    </table>
</body>
</html>